body { 
	background-image: url('../images/4.jpg');
    background-size: cover; /* Современные браузеры */
	font-family: "COMIC SANS MS" ;
}
   h1{
	color: black;
   }
   h2{
	   color: black;
   }
   
   .white{
	 color: white;  
   }
   .black{
	   color: black;
   }
   
   .text{
	 font-size: 27px;
	 text-align: center;
   }
   
   .menu{
	
	margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid #e5e5e5;
   }
   .menu .selected{
	 background-color: #FFA07A ;  
   }
   .menu ul{
	   display: block;
	   width: 100%;
   }
   .menu ul li{
	text-align: center;
    display: inline-block;
    margin-right: -4px;
	width: 22%;
   }
   .menu .menu-list .menu-item{
	  
   }
   .article{
	  background: rgba(147, 134, 220, 0.49);
	  display:block;
	  margin-left: 10px;
	  width:728px;
	  vertical-align:top;
	  color:black;
	  box-sizing: border-box;
	  border: solid 1px black;
	  border-radius: 10px;
	  padding: 10px;
	  margin: 0 auto;
      width: 1100px; 
	  vertical-align: top;
	  box-sizing: border-box;
 }
   
   
   div {
    border-radius: 1px pink;
    padding: 10px;
   }
   .radius {
    background: #f0f0f0; /* Цвет фона */
    border: 1px solid black; /* Параметры рамки */
    padding: 15px; /* Поля вокруг текста */
    margin-bottom: 10px; /* Отступ снизу */
   }
  