html, body {
	height: 100%;
	width: 100%;
}
body {
	background-image: url('../images/background.png');
	background-size: cover;
	background-repeat: no-repeat;
}
.profile {

}
.my-whish {

}
.wishes-of-friends {

}
.title-my-wish{
	/*color:white;*/
}
.btn btn-1{
	
}